#home {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-color: black;
  // disable the default padding styles
  .app__wrapper {
    padding: 0;
    .copyright {
      display: none;
    }
  }
}

.app__header {
  padding: 10rem 2rem;
  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }
}

.app__header-nav {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  flex-direction: column;

  .badge-cmp {
    border: 1px solid #a1a1a1;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-bottom: 3rem;
  }

  .badge-cmp {
    flex-direction: column;
    text-align: center;
    p {
      color: #a1a1a1;
    }
  }

  .tag-cmp {
    flex-direction: column;
    // margin-top: 3rem;

    p {
      width: 100%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
    }
  }

  span {
    font-size: 2.5rem;

    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }
}

h1 {
  background: #4b23cf;
  background: linear-gradient(to left, #4b23cf 21%, #210303 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 800;

  @media screen and (min-width: 1000px) {
    font-size: 4rem;
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #4b23cf 0%,
    #01124f 51%,
    #4b23cf 100%
  );
  font-family: inherit;
  margin: 5px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0;
  cursor: pointer;
  a {
    text-decoration: none;
    color: white;
  }
  span {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 565px) {
  .btn-grad {
    padding: 10px 30px;
  }
}

.mobile__social__links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-block: 2rem;
  // margin: 2rem 0;
  // align-items: center;
  // justify-content: center;

  a {
    border: 1px solid #a1a1a1;
    padding: 0.5rem;
    border-radius: 5px;
    color: black;
    display: flex;
    background-color: white;
    gap: 0.2rem;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    span {
      font-size: 0.8rem;
    }
    &:hover {
      background-color: transparent;
      color: #a1a1a1;
      border: 1px solid white;
    }
  }
}
