img {
  width: 100%;
}
a {
  text-decoration: none;
}
#projects {
  background: black;
  // padding: 1rem;
  h2 {
    // padding: 2rem;
    margin: 3rem 0 0 0;
  }
  p {
    max-width: 600px;
    padding: 1rem;
    margin: 0 auto;
  }
}
.portfolio--container {
  display: grid;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5em;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2em;
  img {
    border-radius: 10px;
    // max-width: 340px;
  }

  gap: 3rem;
}
