/* From Uiverse.io by Cobp */
.container_chat_bot {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.container_chat_bot .container-chat-options {
  position: relative;
  display: flex;
  background: linear-gradient(
    to bottom right,
    #7e7e7e,
    #363636,
    #363636,
    #363636,
    #363636
  );
  border-radius: 16px;
  padding: 1.5px;
  overflow: hidden;

  &::after {
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    background: radial-gradient(
      ellipse at center,
      #ffffff,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.1),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    );
    width: 30px;
    height: 30px;
    filter: blur(1px);
  }
}

.container_chat_bot .container-chat-options .chat {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 100%;
  overflow: hidden;
}

.container_chat_bot .container-chat-options .chat .chat-bot {
  position: relative;
  display: flex;
  // padding: 1rem;
  h3 {
    padding: 0.5rem;
  }
}

.container_chat_bot .chat .options {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.container_chat_bot .chat .options .btns-add {
  display: flex;
  gap: 2rem;

  & a {
    display: flex;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.container_chat_bot .tags {
  padding: 14px 0;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  font-size: 10px;
  gap: 8px;

  & span {
    padding: 4px 8px;
    background-color: #1b1b1b;
    border: 1.5px solid #363636;
    border-radius: 10px;
    cursor: pointer;
  }
}
